<ng-container *ngIf="games$ | async as games">
  <main class="grid" *ngIf="games.length; else noGames">
    <app-game-card *ngFor="let game of games" [game]="game"></app-game-card>
  </main>
</ng-container>

<ng-template #noGames>
  <h1>No games available in this category.</h1>
</ng-template>
