
.grid {
  display: grid;
  column-gap: 1rem;
  row-gap: 2rem;
  padding: 2rem 1rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, var(--card-width));
}

h1 {
  width: 100%;
  text-align: center;
  margin-top: calc(var(--top-bar-height) * 2);
}
