:host {
  max-width: var(--card-width);
  background-color: darkgrey;
  border-radius: 1rem;
  transition: none!important;
}

.image-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;

  &:hover .hover-overlay {
    opacity: 1;
  }
}

img {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.jackpot-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  color: white;
  font-family: "Arial Black", Gadget, sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.4rem 0;
  opacity: 1!important;
  z-index: var(--z-index-overlay);
}

.hover-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: opacity 0.2s linear;
  z-index: var(--z-index-hover);
}

button {
  all: unset;
  background-color: #FF4136;
  height: 2rem;
  width: 100%;
  text-align: center;
}

.no-image {
  display: flex;
  align-items: center;
}

.animate {
  transition: opacity 0.5s;
}
