<div class="image-container" *ngIf="game">

  <div *ngIf="game.jackpotAmount && image.complete" class="jackpot-overlay">£ {{game.jackpotAmount | number}}</div>
  <div class="hover-overlay">
    <h2>{{game.name}}</h2>
    <button>PLAY</button>
  </div>

  <img #image [style.opacity]="'0'" [src]="game.image" alt="game-image" class="animate"
       (error)="image.hidden = true"
       (load)="image.style.opacity = '1'"/>
  <app-ribbon [ribbonType]="game.ribbonCategory"></app-ribbon>
  <div *ngIf="image.hidden" class="no-image"><h2>{{game.name}}</h2></div>
</div>
