.ribbon {
  margin: 0.2rem;
  background-color: var(--main-active-color);
  color: white;
  padding: 0.3rem 0;
  position: absolute;
  font-family: Arial, sans-serif;
  top: 0;
  right: 0;
  transform: translateX(30%) translateY(0%) rotate(45deg);
  transform-origin: top left;
  font-size: 0.9rem;
  z-index: var(--z-index-overlay);
  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    margin: 0 -1px;
    width: 4rem;
    height: 100%;
    background: var(--main-active-color);
  }

  &:before {
    right: 100%;
  }

  &:after {
    left: 100%;
  }
}
