
body {
  --top-bar-height: 3rem;
  --card-width: 19rem;
  --main-bright-color: #fff;
  --main-active-color: #8DC63F;
  --main-dark-color: #373737;
  --main-background-color: #FCFCFC;
  --z-index-content: 1;
  --z-index-overlay: 2;
  --z-index-hover: 3;

  margin: var(--top-bar-height) 0 0;
  background-color: var(--main-background-color);
  font-family: Arial, "sans-serif";
}
