nav {
  background-color: var(--main-dark-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: opacity 0.2s linear;

}

a {
  min-height: var(--top-bar-height);
  width: 100%;
  cursor: pointer;
  padding: 0 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.2rem;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: black;
  }
}


button {
  all: unset;
  color: white;
  font-size: 2rem;
  margin: 0 0.5rem 0 0.5rem;
  padding-bottom: 0.2rem;
  cursor: pointer;
}

.active {
  background-color: var(--main-active-color)!important;
}

.visible {
  margin-top: var(--top-bar-height);
  display: flex;
}

.responsive-top-bar {
  display: none;
  min-height: var(--top-bar-height);
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

@media (max-width: 1000px) {
  nav {
    display: none;
    flex-direction: column;
  }

  nav.responsive-top-bar {
    display: flex;
  }
}

h4 {
  margin: 0;
  color: var(--main-bright-color);
  font-weight: 100;
}
