<nav class="responsive-top-bar">
  <button (click)="toggleCategoriesList(categoriesMenu)">☰</button>
  <h4>{{currentCategory}}</h4>
</nav>
<nav #categoriesMenu>
  <a *ngFor="let category of categories" (click)="hideCategoriesList(categoriesMenu)"
     [routerLink]="category.route" routerLinkActive="active">{{category.label}}</a>
</nav>
